.full{
    height: 100vh;  /* Full viewport height */
    margin: 0;      /* Remove default margin */
    padding: 0;     /* Remove default padding (if any) */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
    font-family: sans-serif;
}
.bar{
    text-decoration: none;
}
